# ===== OpenAI =====
OPENAI_API_KEY=sk-proj-your-openai-api-key-here
OPENAI_MODEL=gpt-4o-mini

# ===== Database =====
MONGO_URI=mongodb://mongodb:27017/scalesim

# ===== Redis =====
REDIS_URL=redis://redis:6379

# ===== Control Plane =====
CONTROL_PLANE_PORT=5000

# ===== Frontend =====
FRONTEND_PORT=5173

# ===== Target Server =====
TARGET_PORT=3000
